* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 12.6px;
    font-family: 'Maven Pro', sans-serif;
}

h1, h2, h3, h4 {
    font-family: 'Poppins', sans-serif;
}

.container {
    margin: auto;
    width: 1280px;
}

.mainheader {
    border-bottom: 1px solid lightgrey;
    text-transform: uppercase;
    width: 100%;
    background-color: white;
    position: fixed;
    top: 0;
    left: 0px;
    z-index: 5;
}

header {
    border-bottom: 1px solid lightgrey;
    background-color: white;
    font-size: 12px;
}

header img {
    padding: 18px 0 18px 15px;
}

header li {
    list-style-type: none;
    float: left;
    padding: 0px 5px;

}



header ul {
    display: inline-block;
    height: 80px;
    line-height: 80px;
}


.langcontain li {
    padding: 0;
}
 .container::after {
    content: "";
    clear: both;
    display: table;
}

.mainhide {
    display: none;
}

.menu {
    float: left;
    width: 68%;
    height: 80px;
}

.langcontain {
    float: right;
}

.calltoaction {
    float: left;
    text-align: right;
    height: 80px;
    display: inline-block;
    margin: 0 0 0 50px;
}



 a {
    text-decoration: none;
    padding: 0px 20px;
    display: inline-block;
    height: 42px;
    line-height: 40px;
    margin: 19px 0;
    color: black;
    border-radius: 5px;
    text-transform: uppercase;
}


.calltoaction span {
    margin: 0 10px;
}

.markup {
    position: relative;
}

.markup::before {
    top: 50%;
    transform: translateY(-50%);
    left: -5px;
    content: "";
    display: inline-block;
    width: 20px;
    height: 20px;
    background-color: #6de089;
    border-radius: 50%;
    position: absolute;
    z-index: -1;
}

.bottonw {
    background-color: white;
    color: #828fa9;
    border: 2px solid  #828fa9;
    margin-right: 10px;
    padding: 0 30px;
    font-weight: bold;
}

.bottong {
    background-color: #6de089;
    border: 2px solid  #6de089;ù
}

.bottonw:hover {
    background-color: #001a4f;
    color: #f1f2f5;
    border: 2px solid  #001a4f;
}

.bottong:hover {
    background-color: #92e8a7;
    border: 2px solid  #6de089;
    color: white;
}

.headhide {
    display: none;
    position: absolute;
    top: 55px;
}

.headhide li {
    display: block;
    background-color: #001a4f;
    padding: 0 10px;
    text-align: center;
    color: white;
    height: 50px;
    line-height: 50px;
    margin-bottom: 1px;
}

.headhide li:first-child {
    border-radius: 5px 5px 0 0;
}
.headhide li:last-child {
    border-radius: 0 0 5px 5px;
}

.headhide li:only-child {
    border-radius: 5px;
}



.headhide::before {
    position: absolute;
    top: -2px;
    left: 15px;
    content: '';
    display: inline-block;
    background: #001A4F;
    height: 15px;
    width: 15px;
    -webkit-transform: rotate(-45deg);
    transform: rotate(-45deg);

}

.headshow a {
    padding: 0px 10px;

}
.headshow:hover .headhide {
    display: grid;
}

li {
    list-style-type: none;
    padding: 10px 0;
}
/* fine header  */

h4 {
    text-transform: uppercase;
    letter-spacing: 2px;
    font-weight: 500;
}

h1 {
    font-size: 50px;
    padding: 18px 0;
    font-weight: normal;
}

.jumbo p {
    font-size: 18px;
    padding: 0;
    color: white;
}

.jumbo {
    background-image: url("https://www.fluentify.com/home/wp-content/uploads/2020/01/fluentify-cover-privati-scaled.jpg");
    padding-top: 80px;
    color: white;
    background-size: cover;
}
.sidejumbo img {
    width: 210px;
    position: absolute;
    left: 0;
    bottom: 110px;
    z-index: 0;
}

.rightimg {
    width: 100px;
    position: absolute;
    top: 50px;
    right: 0;
}

.jumbocolor {
    background: linear-gradient(270deg, transparent 0%, #001A4F 100%);
}

.sidejumbo {
    padding: 135px 0;
    float: left;
}

.rightmotivation,.leftmotivation {
    float: left;
    width: 50%;
    padding: 100px 0;
}
.motivation .container {
    position: relative;
    z-index: -1;
}
.rightmotivation img {
    width: 150px;
    position: absolute;
    right:-310px;
    top:600px;
}
.leftmotivation img {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}
.rightmotivation p {
    color: #727272;
    border-bottom: 1px solid #dee2e6;
    padding-bottom: 27px;
    margin-bottom: 27px;
    font-family: 'Maven Pro', sans-serif;
    font-weight: 400;
    line-height: 30px;
}

.rightmotivation p:last-child {
    border-bottom: 1px solid transparent;
}

.motivation h2 {
    font-weight: normal;
    margin-bottom: 30px;
    color: #727272;
    font-size: 40px;
    line-height: 50px;
}

h2 span {
    font-family: 'Poppins', sans-serif;
    font-size: 40px;
    color: #7de397;
    font-weight: 500;
}


h3 {
    padding: 24px 0 9px 0;
    font-weight: 500;
    font-size: 27px;
}


 p {
    font-size: 18px;
}


.services {
    padding: 72px 0;
}
.services h2 {
    text-align: center;
    padding-bottom: 54px;
    font-size: 40px;
    color:#727272;
    font-weight: 500;
}

.grid {
    float:left;
    padding: 0 15px;
    width: calc((100% / 3) - 30px);
    text-align: center;
    font-size: 18px;
}

.grid p {
    color: #727272;
    line-height: 25px;
}

.grid h3 {
    padding: 18px 0 9px;
    color: #001A4F;
    font-family: 'Maven Pro', sans-serif;
    font-weight: 500;
}

.mobile a {
    padding-left: 0;
    color:#65dd81;
    font-size: 18px;
    text-transform: none;
    font-weight: 500;
}

.mobile a:hover {
    opacity: 0.7;
}
.mobile {
    background-color: #011b50;
    padding: 50px 0 0 0;
    color: white;
}

.mobile h2 {
    font-size: 40px;
    font-weight: 500;
    line-height: 55px;

}

.leftmobile{
    float: left;
    padding: 50px 70px 50px 0;
    width: 50%;
}

.leftmobile img {
    position: absolute;
    width: 275px;
    left: 0;
}

.rightmobile {
    float: right;
    width: 50%;

}


.rightmobile img {
    display: block;
    margin-left: 70px;

}
.platform {
    padding: 35px 0;
}

.platform p {
    color: #727272;
    font-size: 18px;
    line-height: 27px;
}

.rightplat,.leftplat {
    float: left;
    width: 50%;
}
.filultimo {
    width: 150px;
    position: absolute;
    right:0;
}

.rightplat {
    color: #001A4F;
    padding: 100px 0;
}

.plan {
    background-color: #2a4781;
}

.rightplan,.leftplan {
    float: left;
    width: 50%;
    padding: 60px 0;
    color: white;
}

.plan h2 {
    font-size: 40px;
    font-weight: 500;
}

footer {
    background-color: #001a4f;
    color: white;
}

a.mail{
    padding: 0;
    color: white;
    text-transform: lowercase;
}

footer {
    padding: 50px 0;
}
footer img {
    display: block;
    padding-bottom: 30px;
}

.rightfoot {
    float: left;
    display: inline-grid;
}

.leftfoot {
    float: left;
    width: 15%;
    margin-right: 10px;
}

.leftfoot p {
    padding-top: 5px;
}


.leftfoot i {
    color:#65dd81;
    display: inline-block;
    font-size: 20px;
    margin-right: 20px;
}

.rightfoot>ul>li {
    display: inline-grid;
    padding: 30px 10px;
    margin: 10px 0;
}


.rightfoot>ul>li>ul>li {
    margin: 15px 0;
}


ul span {
    margin: 10px 0;
}

.footlist>ul>li {
    display:  inline-grid;
    padding-right: 50px;
    margin-bottom: 50px;
}


.downfoot>ul>li {
    display: inline-block;
    padding: 50px 20px 0 0;
    margin-bottom: 50px;
}

.downfoot {
    border-top: 1px solid white;
}

.leftfoot i:hover {
    color:#65dd81;
    opacity: 0.7;
}

.leftfoot a:hover {
    color:#65dd81;
    opacity: 0.7;
}


.footlist span:hover {
    color:#65dd81;
    opacity: 0.7;
}

.footlist ul li ul li:hover {
    color:#65dd81;
    opacity: 0.7;
}

.downfoot ul li:hover {
    color:#65dd81;
    opacity: 0.7;
}
